<ion-content>
  <ion-toast
    [isOpen]="isToastOpen"
    message="{{ msg }}"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
  <div class="loginBox" *ngIf="!logado">
    <div class="formLogin" *ngIf="!cad">
      <h1>Para acessar o perfil...</h1>
      <h5>Entre com email e senha:</h5>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        placeholder="exemplo@provedor.com"
        labelPlacement="floating"
        errorText="Email inválido"
        ngModel
        email
        #email
      ></ion-input>
      <ion-input
        type="password"
        label="Senha"
        fill="solid"
        labelPlacement="floating"
        minlength="6"
        errorText="Senha inválida"
        ngModel
        password
        #senha
      ></ion-input>
      <ion-button class="buttonLogin" (click)="logar(email.value, senha.value)"
        >Entrar</ion-button
      >
      <legend>
        Não tem cadastro? <a (click)="changeForm()">Cadastre-se</a>
      </legend>

      <p class="divisorLogin">___________________ Ou ___________________</p>

      <ion-button class="loginGoogle" size="large" (click)="loginComGoogle()">
        <ion-thumbnail class="googleIcon">
          <img src="../../../assets/google-icon.png" /> </ion-thumbnail
        >Entre com Google</ion-button
      >
    </div>

    <div class="formLogin" *ngIf="cad">
      <h1>Cadastre-se por aqui!</h1>
      <h5>Informe seu email e senha:</h5>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        placeholder="exemplo@provedor.com"
        labelPlacement="floating"
        errorText="Email inválido"
        ngModel
        email
        #email
      ></ion-input>
      <ion-input
        type="password"
        label="Senha"
        fill="solid"
        labelPlacement="floating"
        minlength="6"
        helperText="Mínimo de 6 caracteres"
        errorText="Senha inválida"
        ngModel
        password
        #senha
      ></ion-input>
      <ion-input
        type="password"
        label="Repita sua senha"
        fill="solid"
        labelPlacement="floating"
        minlength="6"
        helperText="Mínimo de 6 caracteres"
        errorText="Senha inválida"
        ngModel
        password
        #Rsenha
      ></ion-input>
      <ion-button
        class="buttonLogin"
        (click)="cadUser(email.value, senha.value, Rsenha.value)"
        >Cadastrar</ion-button
      >
      <legend>
        Já possui um cadastro? <a (click)="changeForm()">Fazer login</a>
      </legend>
    </div>
  </div>

  <div class="main" *ngIf="logado">
    <ion-button class="Logoutbtn" (click)="logout()"
      >Sair
      <ion-icon class="logoutIcon" name="log-out"></ion-icon>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            *ngIf="user.foto"
            class="ProfilePic"
            src="{{user.foto}}"
            alt=""
          />
          <img
            *ngIf="!user.foto"
            class="ProfilePic"
            src="../../assets/user.png"
            alt=""
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>{{user.nome}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>{{user.email}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2>Favoritos <i class="fa-solid fa-heart favsIcon"></i></h2>
    <ion-grid>
      <ion-row>
        <ion-col class="colFav" size="auto" *ngFor="let f of favoritos">
          <ion-card class="cardsFav">
            <img class="cardImg" src="{{f.imagem}}" />
            <ion-card-header>
              <ion-card-title class="cardFavTitle">{{f.titulo}}</ion-card-title>
              <ion-card-subtitle class="cardFavStitle">
                R${{f.preco}}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="cardHistorico">
      <ion-card-header>
        <ion-card-title class="cardHistTitle"
          >Histórico de compra</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let h of historico">
            <ion-thumbnail slot="start">
              <img src="{{h.imagem}}" />
            </ion-thumbnail>
            <div class="divHist">
              <p class="titleHist">{{h.titulo}}</p>
              <p class="precoHist">R${{h.preco}}</p>
            </div>
            <ion-button class="histBtn" (click)="addToCart()"
              ><i class="fa-solid fa-cart-plus"></i
            ></ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
