/* Google Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

ion-content {
  --background: var(--customBackground);
  width: 100vw;
  top: 4vh;
  --padding-bottom: 10vh;
}

.main {
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 6vh 0 1vh 0;
  padding: 0;
  width: 100%;
  text-align: center;
  color: var(--customColor5);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

h5 {
  width: 100%;
  letter-spacing: 2px;
  margin: 0 0 2px 0;
  padding: 0;
  text-align: center;
  color: var(--customColor4);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
