/* Google Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

ion-header {
  background-color: var(--customColor5);
  background-image: url(../../assets/header-banner.png);
  background-size: 175px;
  background-position: 100% 20%;
  display: flex;
  padding: 0 0 0 0;
  margin: 0;
  height: 7vh;
  position: fixed;
  align-items: flex-end;
}

.headerBar {
  background-color: var(--customColor4);
  height: 1vh;
  width: 100%;
}

.logo {
  height: 7vh;
  margin: 0 0 0 3%;
  padding: 1px;
  border-radius: 6%;
  background-color: var(--customColor4);
  position: absolute;
  z-index: 1000;
}

.cartButton {
  position: absolute;
  top: 130%;
  right: 2%;
  width: fit-content;
  --background: var(--customColor5);
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  margin: 0;
  z-index: 99;
}

ion-badge{
  position: absolute;
  top: 120%;
  right: 2%;
  z-index: 100;
}

.cartIcon {
  font-size: 2.5em;
  color: var(--customColor1);
  padding: 0;
  margin: 0;
}

ion-tabs,
ion-tab-bar {
  --background: #333;
}

ion-tab-button {
  font-size: 0.82rem;
  --color: var(--customColor3);
  --color-selected: var(--customColor5);
  --ripple-color: var(--customColor5);
}
