ion-col {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Caixa externa do card
ion-card {
  border-radius: 5px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 0 5vh 0;
  padding: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  background-color: transparent;
}
//Imagem dentro do card
.imgCard {
  height: 10vh;
  object-fit: cover;
}

//caixa do nome do produto, preço e quantidade
ion-card-header {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-between;
}
//Nome do produto no card
ion-card-title {
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  font-weight: 700;
  color: var(--customColor2);
  margin: 3% 2% 0 2%;
}

//Preço no card
.promo {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0 2% 0 2%;
  width: 100%;
}

.old {
  text-decoration: solid line-through;
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: #0000007c;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  font-weight: 900;
  color: var(--customColor3);
  margin: 0;
  padding: 0 2% 0 2%;
}

//"Mini-Descrição"
.estoque {
  position: absolute;
  top: 45%;
  right: 2%;
  font-family: "Playfair Display", serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
  padding: 0 2% 2% 2%;
  margin: 0;
  text-decoration: dotted underline #000 2px;
  text-underline-offset: 4px;
}
legend {
  font-family: "Raleway", serif;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--customColor2);
  margin: 0 2% 0 2%;
}

//botão de "ver mais" do card
ion-button {
  margin: 0;
  padding: 0;
  --background: var(--customColor1);
  display: flex;
  justify-content: space-evenly;
  font-family: "Raleway", serif;
}

h6 {
  margin: 0;
  padding: 0 2% 0 0;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: underline;
}
//icon do button do card
i {
  text-decoration: none;
  font-size: 1.2em;
}
