/* Google Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */
ion-col {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Caixa externa do card
ion-card {
  border-radius: 5px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 0 5vh 0;
  padding: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  background-color: transparent;
}
//Imagem dentro do card
.imgCard {
  min-width: 300px;
  max-height: 20vh;
  object-fit: cover;
  object-position: top;
}

//caixa do nome do produto, preço e quantidade
ion-card-header {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-between;
}
//Nome do produto no card
ion-card-title {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--customColor2);
  margin: 3% 2% 0 2%;
}

//Preço no card
.promo {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0 2% 0 2%;
  width: 100%;
}

.old {
  text-decoration: solid line-through;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  color: #0000007c;
}

p {
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
  text-align: end;
  font-size: 1.3em;
  font-weight: 900;
  color: var(--customColor3);
  margin: 0;
  padding: 0 10% 2% 0;
  letter-spacing: 1px;
}

//"Mini-Descrição"
.estoque {
  position: absolute;
  top: 50%;
  left: 2%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
  padding: 0 2% 2% 2%;
  margin: 0;
  text-decoration: dotted underline #000 2px;
  text-underline-offset: 4px;
}
legend {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--customColor2);
  margin: 3% 2% 8% 2%;
  height: 45px;
  overflow: scroll;
}

//botão de "ver mais" do card
ion-button {
  margin: 0;
  padding: 0;
  --background: var(--customColor1);
  display: flex;
  justify-content: space-evenly;
  text-decoration: underline;
}

h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0 2% 0 0;
  font-size: 0.9em;
  font-weight: 500;
}
