/* Google Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

.produtosContainer {
  --background: var(--customBackground);
  width: 100vw;
  top: 4vh;
  --padding-bottom: 10vh;
}

// div que engloba todos os itens abaixo do carrossel
.main {
  width: 94%;
  margin: auto;
  margin-top: 6vh;
}

//Botão de filtro
#popover-button {
  margin-bottom: 4vh;
  --background: var(--customColor5);
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: fit-content;
  color: var(--customColor1);
  font-size: 0.6em;
}
//Icon do filtro
ion-icon {
  margin-left: 5%;
  font-size: 1.8em;
}

//Conteudo do filtro
ion-popover {
  --min-width: 150px;
}
ion-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  width: 150px;
}

ion-row,
ion-grid {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
