<ion-content class="produtosContainer">
  <div class="main">
    <ion-button id="popover-button">
      Filtrar por <ion-icon name="filter"></ion-icon
    ></ion-button>

    <ion-popover trigger="popover-button" [dismissOnSelect]="true" side="right">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false"
              >Preço mais alto</ion-item
            >
            <ion-item [button]="true" [detail]="false"
              >Preço mais baixo</ion-item
            >
            <ion-item [button]="true" [detail]="false"
              >Melhor avaliação</ion-item
            >
            <ion-item [button]="true" [detail]="false">Pior avaliação</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png"
              class="imgCard"
            />
            <ion-card-header>
              <ion-card-title>Card Title - Nome do produto</ion-card-title>
              <p>R$500,00</p>

              <legend>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                quasi pariatur obcaecati rerum, fugiat, aliquid impedit
                similique beatae magni.
              </legend>
              <ion-button expand="full"
                ><h6>Adicionar ao carrinho</h6>
                <i class="fa-solid fa-cart-plus"></i
              ></ion-button>
            </ion-card-header> </ion-card
        ></ion-col>
        <ion-col
          ><ion-card>
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png"
              class="imgCard"
            />
            <ion-card-header>
              <ion-card-title>Card Title - Nome do produto</ion-card-title>
              <p>R$500,00</p>

              <legend>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                quasi pariatur obcaecati rerum, fugiat, aliquid impedit
                similique beatae magni.
              </legend>
              <ion-button expand="full"
                ><h6>Adicionar ao carrinho</h6>
                <i class="fa-solid fa-cart-plus"></i
              ></ion-button>
            </ion-card-header> </ion-card
        ></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
