<ion-content class="produtosContainer">
  <div class="main">
    <ion-button id="popover-button">
      Filtrar por <ion-icon name="filter"></ion-icon
    ></ion-button>

    <ion-popover trigger="popover-button" [dismissOnSelect]="true" side="right" size="cover">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false"
              >Preço mais alto</ion-item
            >
            <ion-item [button]="true" [detail]="false"
              >Preço mais baixo</ion-item
            >
            <ion-item [button]="true" [detail]="false"
              >Melhor avaliação</ion-item
            >
            <ion-item [button]="true" [detail]="false">Pior avaliação</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    <ion-grid>
      <ion-row>
        <app-card2
          *ngFor="let p of produtos"
          imagem="{{p.imagem}}"
          titulo="{{p.titulo}}"
          preco="{{p.preco}}"
          promo="{{p.promo}}"
          precoPromo="{{p.precoPromo}}"
          estoque="{{p.quant}}"
          miniDesc="{{p.miniDesc}}"
        />
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
