/* Google Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

ion-content {
  --background: var(--customBackground);
  width: 100vw;
  top: 4vh;
  --padding-bottom: 10vh;
}

swiper-container {
  margin-top: 3vh;
  width: 100vw;
}

swiper-slide img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}
swiper-container::part(pagination) {
  background-color: #333333c9;
  width: 70px;
  left: 45%;
  margin-left: 0;
  border-radius: 50px;
  padding-bottom: 2px;
}
swiper-container::part(bullet) {
  background-color: white;
}

swiper-container::part(bullet-active) {
  background-color: var(--customColor5);
}

// div que engloba todos os itens abaixo do carrossel
ion-row,
ion-grid {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 96%;
  margin: auto;
}
// título "Mais vendidos"
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 4vh;
  border-bottom: 4px double;
  color: var(--customColor5);
}
