<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    alt="Silhouette of mountains"
    src="https://ionicframework.com/docs/img/demos/card-media.png"
  />
  <div class="main">
    <h2>Mais vendidos</h2>
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
        class="imgCard"
      />
      <ion-card-header>
        <ion-card-title>Card Title - Nome do produto</ion-card-title>
        <p>R$500,00</p>

        <legend>Em estoque: 50</legend>
        <ion-button expand="full">Ver mais...</ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
