<ion-content>
  <img
    alt="Silhouette of mountains"
    src="https://ionicframework.com/docs/img/demos/card-media.png"
  />
  <div class="main">
    <h2>Mais vendidos</h2>
    <ion-grid>
      <ion-row>
        <app-card1
          *ngFor="let p of produtos"
          imagem="{{p.imagem}}"
          titulo="{{p.titulo}}"
          preco="{{p.preco}}"
          promo="{{p.promo}}" 
          precoPromo="{{p.precoPromo}}"
          estoque="{{p.quant}}"
          botao="Ver mais..."
        />
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
