/* Google Fonts:
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */

ion-content {
  --background: var(--customBackground);
  width: 100vw;
  top: 4vh;
  --padding-bottom: 10vh;
}

img {
  width: 100vw;
  max-height: 50vh;
  object-fit: cover;
}

// div que engloba todos os itens abaixo do carrossel
ion-row,
ion-grid {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 96%;
  margin: auto;
}
// título "Mais vendidos"
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 4vh;
  border-bottom: 4px double;
  color: var(--customColor5);
}