<ion-content>
  <div class="main">
    <h2>Promoções do dia</h2>

    <ion-grid>
      <ion-row>
        <app-card2
          *ngFor="let p of produtos"
          imagem="{{p.imagem}}"
          titulo="{{p.titulo}}"
          preco="{{p.preco}}"
          promo="{{p.promo}}"
          precoPromo="{{p.precoPromo}}"
          estoque="{{p.quant}}"
          miniDesc="{{p.miniDesc}}"
          botao="Eu quero!"
        />
      </ion-row>
    </ion-grid>

    <h2>Ofertas especiais <i class="fa-solid fa-fire"></i></h2>

    <ion-grid>
      <ion-row>
        <app-card1
          *ngFor="let p of produtos"
          imagem="{{p.imagem}}"
          titulo="{{p.titulo}}"
          preco="{{p.preco}}"
          promo="{{p.promo}}"
          precoPromo="{{p.precoPromo}}"
          estoque="{{p.quant}}"
          botao="Eu quero!"
        />
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
