ion-col {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Caixa externa do card
ion-card {
  border-radius: 5px;
  width: 300px;
  display: flex;
  height: fit-content;
  margin: 0 0 5vh 0;
  padding: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  background-color: transparent;
}
//Imagem dentro do card
.imgCard {
  width: 40%;
  object-fit: cover;
}

//caixa do nome do produto, preço e quantidade
ion-card-header {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
//Nome do produto no card
ion-card-title {
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: .9em;
  font-weight: 500;
  color: #000;
  padding: 2% 0 2% 0;
  margin: 0;
}

//Preço no card
.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.old {
  text-decoration: solid line-through;
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: #0000007c;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 1.1em;
  font-weight: 900;
  color: var(--customColor3);
  margin: 0;
  padding: 0 0 3% 0;
}

//"em estoque"
legend {
  font-family: "Raleway", serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
  padding: 0 0 7% 0;
  margin: 0;
  text-decoration: dotted underline #000 2px;
  text-underline-offset: 5px;
}

//botão de "ver mais" do card
ion-button {
  width: 100%;
  --background: var(--customColor1);
  font-size: 1.35em;
  text-underline-offset: 3px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
