<ion-col>
  <ion-card>
    <img src="{{ imagem }}" class="imgCard" />
    <ion-card-header>
      <ion-card-title>{{ titulo }}</ion-card-title>
      <p *ngIf="promo === 'nao'">R${{ preco }}</p>
      <div *ngIf="promo === 'sim'" class="promo">
        <p class="old">R${{ preco }}</p>
        <p>R${{ precoPromo }}</p>
      </div>

      <legend *ngIf="estoque >= 11">Em estoque: {{ estoque }}</legend>
      <legend *ngIf="estoque <= 10">Restam: {{ estoque }}</legend>
      <ion-button expand="full" size="small">
        {{botao}}
        </ion-button>
    </ion-card-header>
  </ion-card>
</ion-col>
